.tab-pane .tab-pane{
  margin-top:1em; 
}

.navbar-brand{
  height: auto;
}

.well{
  overflow: auto;
}

h3{
  margin-top: 0;
}

.helptrigger{
  padding:0 .5em 0 0; 
  font-size: large;
  float:left;
}

.tab-content .popover{
  width: 100%;
  max-width:100%;
}

/* This is for getting the shinyBS modals to show. CSS from shinythemes was 
overriding the z-index we need from bootstrap.css  */

.modal{
  z-index: 1050; 
}

.help{
  float:right;
  padding-left:1em;
}

.modal-dialog{
  width:auto;
  max-width:90%;
}

.dataTables_wrapper{
  overflow-x: scroll; 
}

/* Contrast field sets */


